# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science
- Create a Jupyter Notebook with markdown and code cells
- Share your Jupyter Notebook publicly on GitHub
- Demonstrate proficiency in Data Science toolkit knowledge

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatPlotLib
4. TensorFlow

In [4]:
%%html
<style>
table {float:left}
</style>

| Data Science Tools |
| ------------------ |
| MySQL |
| MongoDB |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Monika Nyakone Hegedus-Lukacs